body{
    font-family: sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #121786;
    height: fit-content;
    padding: 20px 10%;
    max-width: 1920px;
}

.button-primary{
    width: fit-content;
    border-radius: 8px;
    padding: 16px 24px 16px 24px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #121786;
    background-color: #FFFFFF;
}

.close_popap button{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

h3{
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;

}

p{
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    font-style: normal;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}

.nav-item{
    margin: 10px;
}

.phone-number{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.top_section{
    display: flex;
    justify-content: center;
    position: relative;
}

.img-wrapper img{
    object-fit: fill;
}

.ontop_of_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg-top.png);
    width: 100%;
    height: fit-content;
}

.top_images{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.arrows{
    display: flex;
    flex-direction: column;
    margin: 15px;
}


.top_section_text{
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-top: 30px;
}

.counties{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.counties_top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    width: 100%;
}

.counties_bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.counties_top div{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;

    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.counties_bottom div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    width: 250px;

    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.counties_top div p, .counties_bottom div p{
    margin: 15px;
}


.top_phone-number{
    margin-top: 40px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.bus-img{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.bus-img img{
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.second_section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second_section_header{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    color: #121786;
    text-transform: uppercase;

}

.second_section_desc{
    width: 80%;
    margin-top: 24px;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;

}

.check-country{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.check-country_top, .check-country_bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.country-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 0px;
    margin-top: 20px;
}

.country-card-desc{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.country-card-bg-img{
    border-radius: 8px;
    height: fit-content;
    border-radius: 8px;
    width: 100%;
}

.country-card-icon{
    margin-top: 13%;
    width: 30%;
}

.country-card-text{
    margin-top: 16px;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    
}

.country-card-button{
    margin-top: 6%;
    width: fit-content;
    height: auto;
    border-radius: 8px;
    padding: 2% 3%;
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    border-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
}

.third_block{
    display: flex;
    margin-top: 280px;
    margin-bottom: 200px;
    align-items: center;
    background-image: url(../images/third-block-bg.png);
    background-repeat: no-repeat;
    object-fit: cover;
    height: fit-content;
    padding: 10% 0%;
}

.third_block-desc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.third_block-desc div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third_block-desc div:nth-child(1) h3{
    margin-top: 40px;
}

.third_block-desc div svg{
    margin: 10%;
}

.fourth_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth_column_header{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    color: #121786;
}


.how_we_work_top, .how_we_work_bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.how_we_work_top div, .how_we_work_bottom div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.how_we_work_bottom p{
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    width: 60%;
}

.how_we_work_bottom span{
    font-size: 96px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0em;
    color: #121786;
}

.how_we_work_top p{
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    width: 60%;
}

.how_we_work_top span{
    font-size: 96px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0em;
    text-align: center;
    color: #121786;
}

.how_we_work_top{
    margin-right: 5%;
    margin-top: 24px;
}

.how_we_work_bottom{
    margin-left: 20%;
}

.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
    width: 100%;
}

.gallery-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;   
}
.gallery-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 24px;
    width: 100%;
}

.gallery-img-top{
    width:20%;
    margin: 5px;
}

.gallery-img-bottom{
    width:30%;
    margin: 5px;
}

.additional-help{
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 3%;
}

.additional-header{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    color: #121786;
}

.purple-blocks{
    display: flex;
    justify-content: center;
    align-items: center;
}

.additional-purple-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;

    width: 50%;
    height: 184px;

    background: #DBE5FF;
    border-radius: 8px;
    margin: 11px;
}

.purple-block-desc{
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #121786;
}

.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width: 100%;
}

.review-left,.review-middle,.review-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
}

.reviews-header{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    color: #121786;
}

.reviews-desc{
    margin-top: 24px;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    width: 90%;
}

.other-reviews{
    display: flex;
    flex-direction: row;
    margin-top: 48px;
}

.review-block{
    display: flex;
    flex-direction: column;
    background-color: #DBE5FF;
    width: 85%;
    height: fit-content;
    padding: 24px;
    border-radius: 8px;
    margin: 16px 13px;
}

.block-name{
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #121786;
}

.block-desc{
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}


.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 140px;
    background-color: #121786;
    height: 8.2%;
}

.contacts-header{
    margin-top: 136px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;

    color: #FFFFFF;
}

.contacts-desc{
    display: flex;
    justify-content: space-between;

    max-width: 100%;
    margin-top: 109px;
    padding: 0px 10%;
}

.contacts-text{
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;

    
    width: 50%;
    color: #FFFFFF;
}

.contact-numbers{
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.contact-numbers div{
    display: flex;
    margin: 10px;
}

.contact-numbers div:nth-child(1) h2{
    display: flex;
    margin-left: 17px;
}

.contact-numbers div img{
    margin-right: 22px;
}

.contacts button{
    margin: 100px 0px;
}

.country-card-icon{
    width: 98px;
    height: 98px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0px 25%;
    height: 137px;
    background: #DBE5FF;
}

footer p{
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}
.overlay, .overlay2{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6); /* затемнение фона */
    display: none;
    z-index: 5; 
}
.overlay.active, .overlay2.active {
    display: block;
}
.overlay .flex-popap, .overlay2, .flex-popap2{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay .flex-popap .popap, .overlay2, .flex-popap2,.popap2 {
    position: relative;
    background-color: #fff;
    padding: 35px 25px;
    margin: 0 10px;
    width: 70%;
    height: fit-content;
    overflow: auto;
}

.popap, .popap2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}

.user-data-top p, .user-data-bottom p{
    display: flex;
    flex-direction: row;

}

.user-data_input{
    border-right: none;
    border-left: none;
    border-top: none;
    width: 358px;
    margin-right: 48px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin:15px;
}

.user-data_input:focus{
    outline: none !important;
}

.popap h2{
    margin-top: 87px;
    color: #121786;
}

.popap h3{
    margin-top: 50px;
    color: #121786;
}
.county-p{
    width: 80%;
}
.county-p div{
    display: flex;
    text-align: center;
    flex-direction: column;
    
}

.county-p div p{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    text-align: center;
}

.popup-desc{
    margin-top: 26px;
    width: 55%;
    height: fit-content;
}

.button-popup-country{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
    margin-bottom: 100px;
    padding: 16px 24px;
    width: 766px;
    height: fit-content;

    /* blue */

    background: #121786;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */


    color: #FFFFFF;

}

.button-popup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 140px;
    padding: 16px 24px;
    width: 766px;
    height: fit-content;

    /* blue */

    background: #121786;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */


    color: #FFFFFF;
}

.button-text{
    margin-top: 45px;
    width: 766px;
    height: 48px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #A8A8A8;


}

.county-desc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.county-desc img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.county-desc h2{
    margin-top: 25px;
    margin-left: 20px;
}

